

.cajon.color-primario
  background-color: #d9a17140

.tarjeta--boton.color-secundario:hover
  background-color: #5e61782f 
  

.tarjeta--boton.color-secundario:hover >h4,p
  color: #12263F !important

.bloque-texto-a.color-secundario
  background-color: #e8e8e8

.bloque-texto-a:before
  left: 30%

.bloque-texto-d.color-secundario:before 
    background-color: #6595bf1f

//TARJETA PALIDA
.tarjeta--palida
  background-color: #F2E9E4
  margin-inline: -3rem
.tarjeta--grey
  background-color: #5e617818
  margin-inline: -3rem

.span
  &--acento1
    color:#D9A171 !important
  &--acento2
    color: #A66D58

.cajon.color-secundario
  background-color: #9295aa28

.bigNumber  
  padding: 0.25rem 0.55rem
  margin-right: -0.5rem
  border-radius: 999px
  background-color: #D9A171
  color: #000
  font-size: 16px

.etiqueta
  background-color: #d9a1715c

.acordion__header
  padding-inline: 2rem

.tarjeta--f6f6f6
  background-color: #f6f6f6

.tarjeta--gris
  background-color: #6595bf2c
.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #6595bf2c
    color: #000


  
@media screen and ( max-width: $bp-max-xs )
  .tarjeta--palida
    margin-inline: -2rem 
  
  .tarjeta--grey
    margin-inline: -2rem 